@media #{bp(medium down)} {
	#page-container {
		padding-top: 5em !important;
	}

	#top-header {
		position: fixed;
		top: 0;
		width: 100%;
	}

	#main-header {
		position: fixed;
		top: 42px; // stylelint-disable-line unit-whitelist

		.et_mobile_menu {
			.menu-item-has-children {
				> .mobile-open-submenu {
					position: relative;
					display: inline-block;
					width: 50px; // stylelint-disable-line unit-whitelist
					height: 45px; // stylelint-disable-line unit-whitelist
					padding: 10px 16.875px; // stylelint-disable-line unit-whitelist
					border-bottom: common-border($color:rgba(0, 0, 0, .03));
					border-left: common-border($color:rgba(0, 0, 0, .09));
					background-color: rgba(0, 0, 0, .03) !important;
					color: $common-alt-color;
					text-indent: -9999px; // stylelint-disable-line unit-whitelist

					&::after {
						content: '\35';
						position: absolute;
						top: 10px; // stylelint-disable-line unit-whitelist
						right: .6em;
						font-family: $mobile-font-icon;
						font-size: $common-title-size;
						text-align: center;
						text-indent: 0;
					}
				}

				> a {
					display: inline-block !important;
					width: calc(100% - 50px); // stylelint-disable-line unit-whitelist
				}

				&.visible {
					> .mobile-open-submenu::after {
						content: '\4d';
					}

					> ul.sub-menu {
						display: block !important;
						visibility: visible !important;
					}
				}
			}

			ul.sub-menu {
				display: none !important;
				visibility: hidden !important;
				transition: 1.5s ease-in-out;
			}
		}
	}

	.et_non_fixed_nav.et_transparent_nav #main-header, .et_non_fixed_nav.et_transparent_nav #top-header, .et_fixed_nav #main-header, .et_fixed_nav #top-header {
		position: fixed;
	}

	/* Set the mobile menu full height and move it down so it doesn't overlap the fixed header */
	/* Adjust the 80px set in the height calc value to match the height of your mobile menu */
	#mobile_menu {
		position: fixed;
		display: block !important;
		overflow: auto;
		width: 80%;
		height: calc(100vh - 80px); // stylelint-disable-line unit-whitelist
		padding: 0;
		margin-left: 20%;
		transition: .4s 0s;
	}

	/* Move the mobile menu fully off the screen when closed using translateX(100%) */
	.mobile_nav.closed #mobile_menu {
		transform: translateX(100%);
	}

	/* Move the mobile menu back onto the screen when open using translateX(0%) */
	.mobile_nav.opened #mobile_menu {
		transform: translateX(0);
	}
}

body.body-noscroll {
	overflow: hidden;
}
