//-------------------------------------
//-- Site - Base
//-------------------------------------

body.home {
	h1 {
		min-height: 3em;

		@media #{bp(medium)} {
			min-height: 1.5em;
		}
		padding-bottom: 0;
		margin-bottom: 0;
	}

	p.easy {
		min-height: 1.2em;
		margin-bottom: 1em;
		color: $common-primary-color;
		font-weight: $common-text-fat-weight;
	}
}
