@media #{bp(medium down)} {
	.container.et_menu_container {
		width: calc(100% - 3.75em);
	}
}

.et_mobile_menu {
	width: calc(100% + 3.75em);
	padding: 5%;
	margin-left: -1.875em;
}

.mobile_nav.opened .mobile_menu_bar {
	&::before {
		content: '\4d';
	}
}
